.titulo {
    justify-content: center;
    align-items: center;
    display: flex;
}

.botao {
    font-size: medium;
    height: 45px;
    width: 15%;
}


.container {
    font-family: 'Rubik', sans-serif;
    font-size: large;
}


.caixa1, .caixa2 {
    width: 350px;
    height: 50px;
    background-color: #ffcaca;
  }

  .resultado {
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
  }

  body {
    background-color: #ffcaca;
  }